# Application Configuration
NODE_ENV=development
PORT=3000
API_PREFIX=api/v1

# Logging
LOG_LEVEL=debug

# Security
#JWT_SECRET=your-jwt-secret-here
#JWT_EXPIRES_IN=1d

# AWS Cognito Configuration
#AWS_COGNITO_USER_POOL_ID=your-user-pool-id
#AWS_COGNITO_CLIENT_ID=your-client-id
#AWS_COGNITO_CLIENT_SECRET=your-client-secret
#AWS_REGION=your-region
#AWS_ACCESS_KEY_ID=your-access-key
#AWS_SECRET_ACCESS_KEY=your-secret-key
#AWS_COGNITO_USER_POOL_DOMAIN=your-user-pool-domain
#AWS_COGNITO_REDIRECT_URI=http://localhost:3000/auth/sso/callback
#AWS_COGNITO_LOGOUT_URI=http://localhost:3000/auth/logout

# Service URLs
AUTH_SERVICE_URL=http://10.0.135.41:3001
USER_SERVICE_URL=http://10.0.135.41:3002
COACHING_SERVICE_URL=http://10.0.135.41:3003
EVENT_SERVICE_URL=http://10.0.135.41:3004
ENGAGEMENT_SERVICE_URL=http://10.0.135.41:3005
NOTIFICATION_SERVICE_URL=http://10.0.135.41:3006
UTILITY_SERVICE_URL=http://10.0.135.41:3007
TRAINING_SERVICE_URL=http://10.0.135.41:3008
