
MONGODB_URI=mongodb://myappuser:admin@123@54.221.52.72:27017/myappdb

# Application Configuration
NODE_ENV=development
PORT=3002
API_PREFIX=api/v1

# Logging
LOG_LEVEL=debug

# Security
JWT_SECRET=your-jwt-secret-here
JWT_EXPIRES_IN=1d

# External Services



AUTH_SERVICE_URL=http://172.31.19.236:3001
USER_SERVICE_URL=http://172.31.19.236:3002
COACHING_SERVICE_URL=http://172.31.19.236:3003
EVENT_SERVICE_URL=http://172.31.19.236:3004
ENGAGEMENT_SERVICE_URL=http://172.31.19.236:3005
NOTIFICATION_SERVICE_URL=http://172.31.19.236:3006
UTILITY_SERVICE_URL=http://172.31.19.236:3007
TRAINING_SERVICE_URL=http://172.31.19.236:3008



DB_HOST=172.31.19.236
DB_PORT=3306
DB_USERNAME=admin
DB_PASSWORD=Admin@123
DB_NAME=test
