# Database Configuration
DB_HOST=mysql
DB_PORT=3306
DB_USERNAME=utility_user
DB_PASSWORD=Admin@123
DB_NAME=weace_utility

# Application Configuration
NODE_ENV=development
PORT=3008 
API_PREFIX=api/v1

# Logging
LOG_LEVEL=debug

# JWT Configuration
JWT_SECRET=your-jwt-secret-here
JWT_EXPIRES_IN=1d

# External Services
API_GATEWAY_URL=http://api-gateway:3000
USER_SERVICE_URL=http://user-service:3002 

AWS_ACCESS_KEY_ID=AKIAS4FGFV5BWQG6FA6V
AWS_SECRET_ACCESS_KEY=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
AWS_DEFAULT_REGION=ap-south-1
AWS_BUCKET=wit-local-test-uat
AWS_URL=https://wit-local-test-uat.s3.ap-south-1.amazonaws.com

AWS_CDN_URL=https://d20m8sy4pxdc1g.cloudfront.net
AWS_CDN_ENABLE=false

# AWS SES Configuration
AWS_SES_FROM_EMAIL=noreply@weace.com
AWS_SES_FROM_NAME=WeAce Team
AWS_SES_REPLY_TO_EMAIL=support@weace.com

# Mailtrap Configuration
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=your_mailtrap_username
MAIL_PASSWORD=your_mailtrap_password
MAIL_FROM_EMAIL=noreply@weace.com
MAIL_FROM_NAME=WeAce Team
