# Database Configuration
DB_HOST=172.31.19.236
DB_PORT=3306
DB_USERNAME=admin
DB_PASSWORD=Admin@123
DB_NAME=test



AUTH_SERVICE_URL=http://172.31.19.236:3001
USER_SERVICE_URL=http://172.31.19.236:3002
COACHING_SERVICE_URL=http://172.31.19.236:3003
EVENT_SERVICE_URL=http://172.31.19.236:3004
ENGAGEMENT_SERVICE_URL=http://172.31.19.236:3005
NOTIFICATION_SERVICE_URL=http://172.31.19.236:3006
UTILITY_SERVICE_URL=http://172.31.19.236:3007
TRAINING_SERVICE_URL=http://172.31.19.236:3008



# Application Configuration
NODE_ENV=development
PORT=3008 
API_PREFIX=api/v1

# Logging
LOG_LEVEL=debug

# JWT Configuration
JWT_SECRET=weace-super-secret-jwt-key-2024
JWT_EXPIRES_IN=1d

# External Services
#API_GATEWAY_URL=http://api-gateway:3000
#USER_SERVICE_URL=http://user-service:3002 



#AWS_CDN_URL=https://d20m8sy4pxdc1g.cloudfront.net
#AWS_CDN_ENABLE=false


# Mailtrap Configuration
# MAIL_MAILER=smtp
# MAIL_HOST=smtp.mailtrap.io
# MAIL_PORT=2525
# MAIL_USERNAME=82a312b6fa9471
# MAIL_PASSWORD=53269b5c09fe54
# MAIL_FROM_ADDRESS=noreply@wit-uat.com
# MAIL_FROM_NAME=WeAce Team
# MAIL_ENCRYPTION=tls

#MAIL_MAILER=smtp
#MAIL_HOST=email-smtp.ap-south-1.amazonaws.com
#MAIL_PORT=587
#MAIL_USERNAME=AKIAS4FGFV5B5XWH5IUN
#MAIL_PASSWORD=BIUuA+8Xtu0zcqpaUoHvrAWJxnFsOOsQk3RBGQsfkhL4
#MAIL_ENCRYPTION=tls
#MAIL_FROM_ADDRESS=noreply@we-ace.com
#MAIL_FROM_NAME=We-Ace
